@charset "UTF-8";



.wrapper{
  display:none;
}


.show{
  display:block;
}

.mainBanner {
        position:absolute;
        width:100%;
        height:100%;
        left: 45%;
        top: 50%;
        margin-left: -60px;
        margin-top: -80px;
}



/* 並び替えのパーツ内 */
#grid .mix {
    display: none;
    text-align: left;
    padding: 10px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    vertical-align: top;
}


/* masonry */
.ka_outer-container li { width: 190px; max-width: 100%; height: auto; }
.ka_outer-container { max-width: 1920px; margin: 0 auto; }

/* mix */
.mix .ka_mix-wrap {
    padding: 0px;
    padding-bottom: 15px;
    line-height: 1.42857143;
    border: none;
    background-color: #ffffff;
    box-shadow: #E0DFD6 1px 1px 2px 0px;
    position: relative; transition: all .4s;
}

.mix .ka_mix-wrap:hover { box-shadow: #999 1px 1px 2px 0px; }


.ka_controls{
  margin-top:-200px;
}

.ka_wide{
  width: 100vw;
}
.ka_img-responsive, .mix .ka_mix-wrap a > img, .mix .ka_mix-wrap a > div {
    margin: 0; margin-bottom: .5em; width: 100%; height: 170px;
}

.ka_higashino {
     margin: 0 auto 0;
     background: url(../img/02_media-dev/anm_higashino.jpg) 0 0 no-repeat #ccc;
     height: 100%;
     overflow: hidden;
     padding-top: 100%;
     width: 100%;
 }


.ka_azuma {
     margin: 0 auto 0;
     background: url(../img/02_media-dev/anm_azuma.jpg) 0 0 no-repeat #ccc;
     height: 100%;
     overflow: hidden;
     padding-top: 100%;
     width: 100%;
 }

.ka_chiba {
    margin: 0 auto 0;
    background: url(../img/02_media-dev/anm_chiba.jpg) 0 0 no-repeat #ccc;
    height: 100%;
    overflow: hidden;
    padding-top: 100%;
    width: 100%;
}


.ka_nishijima {
    margin: 0 auto 0;
    background: url(../img/02_media-dev/anm_nishijima.jpg) 0 0 no-repeat #ccc;
    height: 100%;
    overflow: hidden;
    padding-top: 100%;
    width: 100%;
}

.ka_noriko {
     margin: 0 auto 0;
     background: url(../img/02_media-dev/anm_noriko.jpg) 0 0 no-repeat #ccc;
     height: 100%;
     overflow: hidden;
     padding-top: 100%;
     width: 100%;
}

.ka_sasano {
    margin: 0 auto 0;
    background: url(../img/02_media-dev/anm_sasano.jpg) 0 0 no-repeat #ccc;
    height: 100%;
    overflow: hidden;
    padding-top: 100%;
    width: 100%;
}


.ka_tanibuchi {
    margin: 0 auto 0;
    background: url(../img/02_media-dev/anm_tanibuchi.jpg) 0 0 no-repeat #ccc;
    height: 100%; overflow: hidden;
    padding-top: 100%; width: 100%;
}

.ka_anm8 { animation: sprite8 3s steps(8, start) infinite; }
.ka_anm11 { animation: sprite11 3s steps(11, start) infinite; }
.ka_anm13 { animation: sprite13 3s steps(13, start) infinite; }
.ka_anm15 { animation: sprite15 3s steps(15, start) infinite; }
.ka_anm16 { animation: sprite16 2s steps(16, start) infinite; }
.ka_anm20 { animation: sprite20 2.5s steps(20, start) infinite; }

@keyframes sprite8 { 0% { background-position: 0 0; }
  100% { background-position: -1360px 0; } }
@keyframes sprite11 { 0% { background-position: 0 0; }
  100% { background-position: -1870px 0; } }
@keyframes sprite13 { 0% { background-position: 0 0; }
  100% { background-position: -2210px 0; } }
@keyframes sprite15 { 0% { background-position: 0 0; }
  100% { background-position: -2550px 0; } }
@keyframes sprite16 { 0% { background-position: 0 0; }
  100% { background-position: -2720px 0; } }
@keyframes sprite20 { 0% { background-position: 0 0; }
  100% { background-position: -3400px 0; } }

.ka_mix-body { padding-left: 1em; padding-right: 1em; }
.ka_mix-body h3 { color: #515151; }
.ka_mix-body p {
    color: #585858;
    min-height: 40px;
}

.mix h2, .mix h3 { padding-top: .5em; }
.ka_empty { min-height: 3000px;}
.ka_container { min-height: 1000px;}
.ka_controls{ margin-top:-200px; }


.ka_noimage {
    background-image: url("../img/wp_600x600.png");
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 170px, 170px;
}

@keyframes ka_zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.ka_zoomIn {
  animation-name: ka_zoomIn;
    animation-duration: 0.3s;
}

@charset 'UTF-8';

html,
body{
  height: 100%;
}

.nh_container{
  position: relative;
}
.nh_wrap{
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #111;
}
.nh_inner{
  margin: auto;
  width: 730px;
  height: 650px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.nh_title{
  margin: 0 0 20px;
  color: #fff;
  opacity: .9;
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 1;
}
.nh_office{
  margin: 0 0 10px;
  color: #fff;
  font-size: 13px;
}
.nh_office dt{
  margin: 0;
  margin-bottom: 2px;
  padding: 10px 20px;
  width: 160px;
  float: left;
  background: rgba(0,0,0,.3);
  font-weight: normal;
  box-sizing: border-box;
}
.nh_office dd{
  display: block;
  margin-bottom: 2px;
  margin-left: 162px;
  padding: 10px 20px;
  background: rgba(0,0,0,.3);
  box-sizing: border-box;
}
.nh_map{
  margin: 0 auto;
  width: 730px;
  height: 450px;
  position: relative;
}
.nh_canvas{
  width: 730px;
  height: 450px;
  position: absolute;
  bottom: 100px;
  left: 0;
}
.nh_bg{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 119, 189, .6) 0%, rgba(36, 173, 238, .6) 100%);
}
.nh_cover{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
}
.nh_video{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@charset "UTF-8";
.nf_container {
    height: 12000px;
}


.nf_title {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  letter-spacing:0.3em;
  color: #fff;
  background-color: #008C9E;
  height: 300px;
}



.nf_title span {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nf_title span:before {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 1px;
  margin-right: 12px;
  background: #fff;
  content: '';
}

.nf_block_content {
    height: 300px;
    width: 1124px;
    position: fixed;
    top: 0;
    left: 0;
}

.nf_mp_title {
    font-size: 2em;
    font-weight: bold;
    padding-left: 20px;
    width:100%;
    opacity: 0;
    top: 0;
    left: 0;

}

.nf_management_philosophy {
    position: absolute;
    top: 80px;
    left: 28%;
    margin-left: -225px;
}
.nf_vision {
    position: absolute;
    left: 78%;
    margin-left: -225px;
    margin-top: 100px;
}
.nf_nine_pieces {
    float: right;
    bottom: 0;
    position: fixed;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 320px;
    background-color: #ffffff;
}
.nf_truth {
    color:#26ABD7;
    font-size: 1.6em;
    background-color : black;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    -webkit-background-clip : text;
}

.nf_nine_pieces {
  left: 45vh;
  top: 45vh;
  width: 850px;
  height: 380px;
  border: solid 1px #DDD;
}

.nf_nine_pieces h3 {
  padding: 18px 10px 20px 10px;
  text-align: center;
  color: #555;
  font-size: 2em;
  line-height: 1.5;
  font-weight: bold;
}

.nf_nine_pieces h3 strong {
  color: #EA0439;
  font-size: 110%;
}
.nf_nine_pieces div.inner {
  width: 750px;
  margin: 0 0 0 100px;
  overflow: hidden;
}
.nf_nine_pieces div.inner dl {
  float: left;
  width: 220px;
  margin: 0 20px 0 0;
}
.nf_nine_pieces div.inner dl dt {
  padding: 6px 10px 4px 10px;
  background: #F1577A;
  color: #FFF;
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: bold;
}
.nf_nine_pieces div.inner dl dd {
  padding: 5px 0 20px 0;
  font-size: 1.3em;
  line-height: 1.7;
}

.nf_title {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  letter-spacing:0.3em;
  color: #fff;
  background-color: #008C9E;
  height: 300px;
}

html {
    font-family: Verdana,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

body {
  margin: 0;
}


.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0
}

.space_big {
  width: 100%;
  height: 3000px;
}


.font_sl{
  font-size: 3em;
}

.font_sb {
  font-size: 1.7em;
}

.font_sm {
  font-size: 1.3em;
}


.font_ss {
  font-size: 0.8em;
}

#ts_main{
  margin-bottom:100px;
}


.ts_h2 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  letter-spacing:0.3em;
  color: #fff;
  background-color: #008C9E;
  height: 300px;
  position: relative;
}

.ts_h2 span {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.ts_h2 span:before {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 1px;
  margin-right: 12px;
  background: #fff;
  content: '';
}

#ts_image_wp {
  text-align: center;
  position: relative;
  margin: -200px 0 180px 0;
}

.ts_site_wp {
  position: relative;
  width: 55%;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  margin-bottom: 40px;
}

.ts_wp_image {
  width: 100%;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.ts_wp_image ,.ts_site_info_main{
  transition: all 0.3s linear;
}

.ts_site_wp:hover .ts_wp_image {
  transform: scale(1.05);
}

.ts_site_wp .ts_site_info_main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

.ts_site_wp:hover .ts_site_info_main {
  background-color: rgba(0,0,0,0.78);
}

.ts_site_wp .ts_site_info_focus {
  margin-top: 40px;
  color: #fff;
}

.ts_site_wp .ts_divider {
  width: 0;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s ease-in;
}
.ts_site_wp:hover .ts_divider {
  width: 60%;
  border-top: #fff 1px solid;
}

.ts_site_wp .ts_site_info_focus .ts_hovering_item {
  margin-top: 4%;
  visibility: hidden;
  position: absolute;
}

.ts_site_wp:hover .ts_hovering_item {
  visibility: visible;
  transition: all 0.3s linear;
  position: static;
}

#ts_image_wp .st_wp_image {
  width: 100%;
}

#ts_image_wp .ts_site_link li {
  display: inline-block;
  margin: 0 15px;
}

.ts_site_images {
  width: 100%;
  height: 30%;
  overflow: hidden;
  position: relative;
  background-color: #323232;
}

.ts_site_info {
  width: 40%;
}

.ts_site_image {
  width: 60%;
  overflow: hidden;
  transition: all 0.2s linear;
}

.ts_site_image{
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.ts_site_image:hover {
  background-size: 105%;
  background-position: -15px -15px;
}


#ts_image_f .ts_site_image {
  background-image: url(../img/foreign.png);
}

#ts_image_pt .ts_site_image {
  background-image: url(../img/photorait.png);
}

#ts_image_rg .ts_site_image {
  background-image: url(../img/ringraph.png);
}

.ts_site_info {
  height: 400px;
  position: relative;
}

.ts_site_info .ts_site_logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.ts_site_images.ts_right .ts_site_info {
  float: left;
}

.ts_site_images.ts_right .ts_site_image {
  float: right;
}

.ts_site_images.ts_right .ts_site_image:before {
  content: "";
  display: block;
  background-image: url(../img/triangle_gl_01.png);
  background-size: 100px 400px;
  height: 400px;
  width: 100px;
  position: relative;
  z-index: 100;
}

.ts_site_image  .ts_site_info_main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  color: #fff;
  padding-top: 40px;
  background-color: rgba(0,0,0,0);
}

.ts_site_image:hover .ts_site_info_main {
  background-color: rgba(0,0,0,0.78);
}

.ts_site_image .ts_hovering_item {
  visibility: hidden;
}

.ts_site_image:hover .ts_hovering_item {
  visibility: visible;
  transition: all 0.2s linear;
}


.ts_site_images .ts_divider {
  width: 0;
  border-top: #fff 1px solid;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.ts_site_image:hover .ts_divider {
  width: 60%;
  transition: all 0.5s ease-in;
}

.ts_site_images .ts_detail_text {
  margin-top: 60px;
}

.ts_site_images.ts_left .ts_site_info {
  float: right;
}

.ts_site_images.ts_left .ts_site_image {
  float: left;
  position: relative;
  height: 400px;
}

.ts_site_images.ts_left .ts_site_image:after {
  content: "";
  display: block;
  background-image: url(../img/triangle_gl_02.png);
  background-size: 100px 400px;
  height: 400px;
  width: 100px;
  position: absolute;
  right: 0;
  z-index: 100;
}

.space{
  height:300px;
}





/*いけてるインジゲーター*/
html.now_loading{
  height: 100%;
}
.now_loading body{
  position: relative;
  margin: 0;
  height: 100%;
  background: #00AA7F;
}


html.loaded{
  height: auto;
}
.loaded body{
  position: static;
  margin:0 0 200px;
  height: auto;
  background-color: #f1f1f1;
}

.hn-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #00AA7F;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
}

.hn_main-visual{
  padding: 30px;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.hn_container{
  width: 100%;
  height: 100%;
  position: relative;
}
.hn_container .hn_logo{
  margin: auto;
  width: 1100px;
  height: 83px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hn_container div{
  position: absolute;
  background: #fff;
  -webkit-transition:all .3s ease-in-out .3s;transition:all .3s ease-in-out .3s;
}
.hn_container > .hn_border-top{
  width: 0;
}
.hn_container > .hn_border-btm{
  width: 0;
}
.hn_container > .hn_border-right{
  height: 0
}
.hn_container > .hn_border-left{
  height: 0
}
.hn_container.active > .hn_border-top{
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
}
.hn_container.active > .hn_border-btm{
  width: 100%;
  height: 2px;
  right: 0;
  bottom: 0;
}
.hn_container.active > .hn_border-right{
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
}
.hn_container.active > .hn_border-left{
  width: 2px;
  height: 100%;
  bottom: 0;
  left: 0;
}
.hn_path{
  stroke: #fff;
  fill: #00AA7F;
  stroke-width: 1;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -moz-animation: kakikaki 1.7s ease-in 6s forwards;
  -webkit-animation: kakikaki 1.7s ease-in 6s forwards;
  -o-animation: kakikaki 1.7s ease-in 6s forwards;
  animation: kakikaki 1.7s ease-in 6s forwards;
}
@-webkit-keyframes kakikaki{
  0%  {stroke-dashoffset:3000;fill:#00AA7F;}
  95% {stroke-dashoffset:2500;fill:#00AA7F;}
  96% {stroke-dashoffset:500;fill:#00AA7F;}
  100%{stroke-dashoffset:0;fill:#fff;}
}
@-moz-keyframes kakikaki{
  0%  {stroke-dashoffset:3000;fill:#00AA7F;}
  95% {stroke-dashoffset:2500;fill:#00AA7F;}
  96% {stroke-dashoffset:500;fill:#00AA7F;}
  100%{stroke-dashoffset:0;fill:#fff;}
}
@-ms-keyframes kakikaki{
  0%  {stroke-dashoffset:3000;fill:#00AA7F;}
  95% {stroke-dashoffset:2500;fill:#00AA7F;}
  96% {stroke-dashoffset:500;fill:#00AA7F;}
  100%{stroke-dashoffset:0;fill:#fff;}
}
@keyframes kakikaki{
  0%  {stroke-dashoffset:3000;fill:#00AA7F;}
  95% {stroke-dashoffset:2500;fill:#00AA7F;}
  96% {stroke-dashoffset:500;fill:#00AA7F;}
  100%{stroke-dashoffset:0;fill:#fff;}
}
/* loader */
.hn_loading {
  display: block;
  margin: auto;
  width: 80px;
  height: 72px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.hn_loading p{
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  font-size: 9px;
  text-align: center;
}
.hn_timer-loader{
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 0;
  border: 2px solid #fff;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hn_timer-loader::before,
.hn_timer-loader::after {
  display: block;
  width: 2px;
  position: absolute;
  top: 22px;
  left: 22px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  content: '';
  -webkit-transform-origin: 1px 1px;/*動かす時の原点*/
  -moz-transform-origin: 1px 1px;
  -ms-transform-origin: 1px 1px;
  transform-origin: 1px 1px;
}
.hn_timer-loader::before{/*長針*/
  height: 18px;
  -webkit-animation: timer-loader 1200ms linear infinite;
  -moz-animation: timer-loader 1200ms linear infinite;
  animation: timer-loader 1200ms linear infinite;
}
.hn_timer-loader::after{/*短針*/
  height: 14px;
  -webkit-animation: timer-loader 15000ms linear infinite;
  -moz-animation: timer-loader 15000ms linear infinite;
  animation: timer-loader 15000ms linear infinite;
}
@-webkit-keyframes timer-loader {
  0%  {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-moz-keyframes timer-loader {
  0%  {-moz-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);transform: rotate(360deg);}
}
@-ms-keyframes timer-loader {
  0%  {-ms-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-ms-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
