/*ロゴがうごくやつ*/
.ugoku_logo {
    height: 192px;
    width: 390px;
    background: url(http://www.kayac.com/assets/images/top/kayac_animate.png) no-repeat;
    animation: logo-ugoku 1s steps(7) infinite
}
@keyframes logo-ugoku {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 -147px
    }
}



/*スクロールの時のポヨンてやつ*/
.news-item {
    visibility: hidden;
}

.news-item.show{
    visibility:visible;
    animation:bown 400ms
}

@keyframes bown {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.2, 1.2)
    }
    55% {
        transform: scale(0.9, .9)
    }
    100% {
        transform: scale(1, 1)
    }
}

