@charset "UTF-8";
@font-face {
    font-weight: 400;
    font-style: normal
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas, main {
    margin: 0;
    padding: 0
}
article, aside, figure, figcaption, footer, h1, h2, h3, h4, h5, h6, header, hgroup, menu, nav, section, main {
    display: block
}
html {
    overflow-y: scroll
}
html, body {
    width: 100%;
    min-height: 100%
}
body {
    color: #000;
    background: #fff;
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ' Meiryo, 'Lucida Grande', sans-serif;
    font-size: 13px;
    *font-size: 82%;
    line-height: 1.5
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}
p {
    line-height: 1.5
}
li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

.ka_animation-item {
    margin-bottom: 32px;
    min-height: 500px
}

.ka_content {
    margin: 30px;
    padding: 30px;
    border-style: dashed;
    border-radius: 25px;
}

.ka_title {
    font-size: 150%;
    line-height: 1.3;
    margin-bottom: 12px;
    text-align: center;
}
.ka_date {
    text-align: right;
    margin-right: 80px;
}
.ka_note {
    font-size: 120%;
    line-height: 1;
    margin-right: 10px;
    margin-bottom: 12px;
}
.ka_performers {
  display:table;
  width: 50%;
  margin-left: auto;
  margin-bottom: 10px;
}

.ka_cast {
    font-size: 100%;
}

.ka_performers li {
  display:table-cell;
  margin-right: 5px;
}

#MainContents {
    position: relative;
    width: 90%;
    min-width: 800px;
    margin: 0 auto 40px;
    top: 50px;
    padding-bottom: 60px
}

.clearfix {
    overflow: hidden;
    *zoom: 1
}

.main-visual {
    position: relative;
    height: 500px
}
.ka_movie_film {
    position: relative;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 550px;
    height: 250px;
    background-image: url(../img/film.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ka_movie {
    margin: 0 auto;
    width: 320px;
    height: 192px;
    background: url(../img/kayac_animate.png) no-repeat
}

.ka_movie.ka_animate {
    animation: ka_movie-animation 1600ms steps(23)
}

@keyframes ka_movie-animation {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 -4417px
    }
}


@keyframes rollInL {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rollInR {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.animeL {
    animation: rollInL 1s ease-in-out;
    transform-origin: 50% 50%;
}

.animeR {
    animation: rollInR 1s ease-in-out;
    transform-origin: 50% 50%;
}
