
.scroll-item {
    visibility: hidden;
}

.scroll-item.show {
    visibility: visible;
    -webkit-animation: bounce-frame 200ms;
    -moz-animation: bounce-frame 200ms;
    -ms-animation: bounce-frame 200ms;
    animation: bounce-frame 200ms;
}

.article-summary .content-border-center, .article-header:hover .article-summary .content-border-center, .news-header:hover .article-summary .content-border-center {
    position: absolute;
    top: 0;
    left: 200px;
    background-image: url(http://www.kayac.com/assets/images/svg/news_border/center.png);
    height: 266px;
    -moz-transition: background-image 300ms;
    -o-transition: background-image 300ms;
    -webkit-transition: background-image 300ms;
    transition: background-image 300ms;
}

.article-summary .content-border-right, .article-header:hover .article-summary .content-border-right, .news-header:hover .article-summary .content-border-right {
    position: absolute;
    top: 0;
    width: 200px;
    height: 266px;
    -moz-transition: background-image 300ms;
    -o-transition: background-image 300ms;
    -webkit-transition: background-image 300ms;
    transition: background-image 300ms;
}

.show{
    visibility:visible;
    -webkit-animation:bounce-frame 200ms;
    -moz-animation:bounce-frame 200ms;
    -ms-animation:bounce-frame 200ms;
    animation:bounce-frame 200ms}
